/*style for logo*/
    #logo {
       display: inline-block;
       width: 300px;
       height: 71px;
       float: left;
       padding-left: 2%;       
   }
   
  body { 
        font-family: Verdana, sans-serif;
        color: ForestGreen;
        height: 100%;
		background-color: #a4f75a;
}

  h1 {
	   color:#01ac0d;
       font-family: Verdana, sans-serif;
       font-weight: bold;
       text-align: center;
}


#a {
    height:230px; 
    width: 230px;        
    margin: 1.5% 6% 2% 7%;
	border-radius:10px;
	box-shadow:10px 10px 40px #69b822;  
 }
 #b {
    height:230px; 
    width: 230px;        
    margin: 1.5% 6% 2% 6%;
	border-radius:10px;
	box-shadow:10px 10px 40px #69b822;  
 }
 #c {
    height:230px; 
    width: 230px;        
    margin: 1.5% 0% 2% 6%;
	border-radius:10px;
	box-shadow:10px 10px 40px #69b822;  
 }
 
 #tipp1 {
    overflow: hidden;
	color:#01ac0d;
    font-family: Verdana, sans-serif;
    font-weight: bold;
	text-align: center;
	margin: 1% 5% 2% 12%;
	display: inline-block;
}
#tipp2 {
    overflow: hidden;
	color:#01ac0d;
    font-family: Verdana, sans-serif;
    font-weight: bold;
	text-align: center;
	margin: 1% 5% 2% 6%;
	display: inline-block;
}

#tipp3 {
    overflow: hidden;
	color:#01ac0d;
    font-family: Verdana, sans-serif;
    font-weight: bold;
	text-align: center;
	margin: 1% 6% 2% 5%;
	display: inline-block;
}
