h1 {
color:#01ac0d;
font-family: Verdana, sans-serif;
font-weight: bold;
text-align: center;
}

h2 {
color:#01ac0d;
font-family: Verdana, sans-serif;
font-weight: bold;
text-align: center;
}

img {
  width: 600px;
  height: 461px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius:10px;
}

p {
	font-family: Verdana, sans-serif;
	text-align: justify;
	line-height: 1.6;
	font-size: large;
	width: 1100px;
	margin-left: auto;
    margin-right: auto;
}

.quotes{
	font-weight: normal;
	font-size: 30px;
	font-style: italic;
	text-align: center;
	font-family: "Times New Roman";
}

ul {
	font-family: Verdana, sans-serif;
	text-align: justify;
	line-height: 1.6;
	font-size: large;
	width: 1000px;
	list-style-position: inside;
	margin-left: 150px;
    margin-right: 100px;
}

body {
  background-color: #a4f75a;
  margin: auto;
  padding: auto;
  height: 100%
}

 .content-box1 {
        border-radius:10px;
        margin: 1% 4% 4% 4%;
		padding: 3% 4% 4% 3%;
		display: inline-block;
        background: white;
        text-align: left;
		box-shadow:10px 10px 40px #7ccc34;  
    }